ion-content{
    --background: var(--dark-blue);
}

ion-item{
    margin:20px;
}

ion-select{
    padding:20px;
}

ion-button{
    --background:var(--orange);
    height:50px;
    width:90%;
    margin:20px;
}