.menubody{
    background:var(--dark-blue);
    height:100%;
}

.menucontent{
    background:var(--pure-white);
    // height:100%;
}

.menubutton{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:10px;
}

.leftmargin{
    margin-left:10px;
}

.menupicture{
    height:50px;
}

.menuhead{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}