<ion-app>
  <ion-menu content-id="menu" type="overlay">
    <div class="menubody">
      <div class="menuhead">
        <div class="menupicture">
          <!-- <ion-icon name="person-circle-outline" slot="start"></ion-icon> -->
          <ion-icon name="person-circle"></ion-icon>
        </div>
        <h5>Your Name Here</h5>
        <p>Some Text Here</p>
      </div>

      <div class="menucontent">
        <div class="menubutton">
          <ion-icon name="construct" slot="start"></ion-icon>
          <p class="leftmargin">Some text</p>
        </div>
        <div class="menubutton">
          <ion-icon name="construct" slot="start"></ion-icon>
          <p class="leftmargin">Some text</p>
        </div>
        <div class="menubutton">
          <ion-icon name="construct" slot="start"></ion-icon>
          <p class="leftmargin">Some text</p>
        </div>
        <div class="menubutton">
          <ion-icon name="construct" slot="start"></ion-icon>
          <p class="leftmargin">Some text</p>
        </div>
      </div>
    </div>
  </ion-menu>
  <ion-router-outlet id="menu">
  </ion-router-outlet>
</ion-app>
