<ion-content>
  <div class="body">
    <p class="text boldtext">Banner One</p>
    <div class="cardarea">
      <!-- <div class="bluecard">
        <p class="text whitetext smalltext">Some Text</p>
        <p class="text whitetext bigtext boldtext">0000</p>
      </div>
      <div class="bluecard">
        <p class="text whitetext smalltext">Some Text</p>
        <p class="text whitetext bigtext boldtext">0000</p>
      </div>
      <div class="bluecard">
        <p class="text whitetext smalltext">Some Text</p>
        <p class="text whitetext bigtext boldtext">0000</p>
      </div>
      <div class="bluecard">
        <p class="text whitetext smalltext">Some Text</p>
        <p class="text whitetext bigtext boldtext">0000</p>
      </div>
      <div class="bluecard">
        <p class="text whitetext smalltext">Some Text</p>
        <p class="text whitetext bigtext boldtext">0000</p>
      </div> -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="bluecard">
              <p class="whitetext smalltext">Some Text</p>
              <p class="whitetext bigtext boldtext">0000</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="bluecard">
              <p class="whitetext smalltext">Some Text</p>
              <p class="whitetext bigtext boldtext">0000</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="bluecard">
              <p class="whitetext smalltext">Some Text</p>
              <p class="whitetext bigtext boldtext">0000</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="bluecard">
              <p class="whitetext smalltext">Some Text</p>
              <p class="whitetext bigtext boldtext">0000</p>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="bluecard">
              <p class="whitetext smalltext">Some Text</p>
              <p class="whitetext bigtext boldtext">0000</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <p class="text boldtext">Banner Two</p>
    <div>
      <div class="marquee"></div>
      <div class="marquee"></div>
    </div>
  </div>
</ion-content>
